**/*.pyc
.idea/
**/*~
gradle*
libs/
local.properties
android.iml
.gradle/
.DS_Store
android/assets/*
android/tflite/app/build/
android/tflite/app/build/intermediates/transforms/dexBuilder/debug/
android/tflite/app/build/intermediates/transforms/dexMerger/debug/
android/tflite/app/build/intermediates/incremental/packageDebug/tmp/debug/
android/tflite/app/build/intermediates/incremental/mergeDebugResources/merged.dir/
android/tflite/app/build/intermediates/incremental/mergeDebugAndroidTestResources/
android/tflite/app/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
android/tflite/app/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/
android/tflite/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/
android/tflite/app/build/intermediates/res/merged/debug/
android/tflite/app/build/intermediates/res/merged/androidTest/debug/
android/tflite/app/build/intermediates/blame/res/debug/
android/tflite/app/build/intermediates/blame/res/androidTest/
android/tflite/app/build/intermediates/incremental/compileDebugAndroidTestAidl/
android/tflite/app/build/intermediates/instant_run_merged_manifests/debug/
android/tflite/app/build/intermediates/processed_res/debug/processDebugResources/out/
android/tflite/app/build/intermediates/res/symbol-table-with-package/androidTest/debug/
android/tflite/app/build/intermediates/symbols/androidTest/debug/
android/tflite/app/build/outputs/apk/debug/
android/tflite/app/build/outputs/logs
android/tflite/app/build/generated/not_namespaced_r_class_sources/debugAndroidTest/
android/tflite/app/build/intermediates/apk_list/debugAndroidTest/
android/tflite/app/build/intermediates/incremental/debug-mergeJavaRes/
android/tflite/app/build/intermediates/incremental/debug-mergeJniLibs/
android/tflite/app/build/intermediates/incremental/mergeDebugAssets/
android/tflite/app/build/intermediates/incremental/mergeDebugJniLibFolders/
android/tflite/app/build/intermediates/incremental/mergeDebugResources/
android/tflite/app/build/intermediates/incremental/mergeDebugShaders/
android/tflite/app/build/intermediates/merged_manifests/debugAndroidTest/
android/tflite/app/build/intermediates/merged_manifests/debug/processDebugManifest/merged/
